@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Ubuntu:display=swap');

/*--------------------------Genaral Style--------------------*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

main {
    width: 85%;
    padding: 30px 0 0 80px;
}

/*--------------------Style Banner Section -------------------*/
.banner-section {
    display: flex;
    background-color: #161616;
    height: 470px;
    border-radius: 15px;
    margin-bottom: 30px;

}

.banner-text {
    width: 500px;
    padding: 40px;
    color: #fff;
}

.banner-title {
    font-weight: 700;
    font-size: 35px;
    line-height: 50px;
    margin-bottom: 20px;

}

.banner-paragraph {
    line-height: 25px;
}

button {

    background-color: crimson;
    color: #fff;
    font-size: 20px;
    padding: 10px 20px;
    margin-top: 30px;
    border-radius: 10px;
    border: 1px solid #E8E8E8;
}

button a {
    margin-left: 10px;
    color: #fff;
}


#website-3 {
    background-color: crimson;
    color: #fff;
}




.all-button a {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    background-color: #fff;
    color: #161616;
    margin: 10px;
    padding: 10px 0px 10px 5px;
    position: relative;
    top: 5px;
}

.banner-img {
    position: relative;
    top: 20px;
    right: 20px;
}

.banner-img img {
    width: 410px;
    height: 450px;
}

/*-------------------Animation-----------------------*/

.animation {

    position: relative;
    display: flex;
}


.animation>span {

    position: relative;
    height: 2px;
    width: 2px;
    border-radius: 50%;
    background-color: #fff;
    right: 750px;
    top: 420px;
    margin: 10px 10px;
    box-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4, 0 0 30px #03bcf4, 0 0 50px #03bcf4, 0 0 80px #03bcf4;
    animation: animate 5s linear infinite;

}

@keyframes animate {
    0% {
        transform: translate(0px);
    }

    50% {
        transform: translate(100px);
    }

    100% {
        transform: translate(0px);

    }
}



/*-----------------------Style Blog Section-----------------*/

.blog-section {
    width: auto;
    height: 600px;

}

.blogs {
    display: grid;
    grid-template-columns: 200px repeat(3, 1fr);
    gap: 5px;
}

.blog-side {
    grid-row: 1/span 2;
}

.all-button {
    background-color: black;
    display: grid;
    grid-template-rows: 80px 75px 75px;
    height: 250px;
    padding: 0px 10px;
    margin-right: 9px;
    border: 1px solid #c8c7c7;
}

.all-button a {
    border-radius: 5px;
}

.link-1,
.link-2,
.link-3 {
    background-color: #fff;
    color: black;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid #c8c7c7;
}

.link-3 {
    background-color: crimson;
    color: #fff;
}

.blog,
.match {
    width: 200px;
    border: 1px solid #c8c7c7;
    border-radius: 10px;
    height: 300px;
    margin-left: 7px;

}


.blog-banner img {

    width: 200px;
    height: 135px;

}

.blog-button {
    background-color: #fff;
    color: black;
    margin: 15px 0 0 10px;
    padding: 3px 15px;
    font-size: 15px;
}

.blog-title {
    padding: 10px;
    font-weight: 600;
    font-size: 15px;
    color: #161616;
}

.blog-info {
    margin-left: 10px;

}

span {

    padding: 10px;
    position: relative;
    top: -6px;
    font-size: 15px;
    font-weight: 500;
    color: rgba(22, 22, 22, 0.7);
}


.hidden-button {
    display: none;
}

/*------------------------Footer Style ----------------*/
footer {
    margin-top: 60px;
    background-color:
        #161616;
    height: 350px;
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;

}

.footer-title {
    height: 175px;
    color: #fff;
    font-weight: 600;
    font-size: 40px;
    display: flex;
    justify-content: center;

    align-items: center;
    position: relative;
    top: 40px;
}

hr {
    width: 80%;
    margin-left: 100px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.quick-link {

    display: flex;
    justify-content: center;
    align-items: center;

}

.quick-link a {
    text-decoration: none;
    color: #B9B9B9;

    padding: 50px 0 0 20px;

}

.social-site {
    width: 20%;
    justify-content: space-around;
    font-size: 40px;
    display: flex;
    background-color: #161616;
    color: #fff;
    margin: 50px 0 0 400px;

}

/*----------Up Coming Match(match.html) Style-----------------*/
#link-1 {
    background-color: crimson;
    color: #fff;

}

#match-section {
    height: 400px;

}

#match {
    height: 180px;
}

.match-between {

    display: flex;
}

.match img {
    padding: 30px 5px 0 5px;
    width: 70px;
}

.vs {
    padding-top: 28%;
    font-weight: 700;
    color: #161616;
}

.match-info {
    color: #161616;
    text-align: center;
    margin-top: 10px;
}

/*----------- Up Coming Match(match.html) End----------*/


/*------------------------ Media Quaries----------------------*/

/*------------------------ Mobile Devices--------------------*/

@media screen and (max-width:688px) {
    main {
        width: 80%;
        margin-left: -40px;

    }

    .banner-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 100%;

    }

    .banner-text {
        width: 80%;
        padding: 30px 30px 0 30px;

    }

    .banner-title {
        font-weight: 700;
        font-size: 30px;
        line-height: 33px;
        text-align: center;
    }



    .banner-paragraph {

        font-weight: 400;
        font-size: 10px;
        line-height: 24px;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    button {
        margin-left: 40px;
    }

    .banner-img img {
        width: 280px;
        position: relative;
        top: -17px;
        left: 40px;

    }

    .blog-section {
        height: 100%;

    }

    .blogs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .blog {
        width: 100%;
    }

    .blog-banner img {
        width: 100%;
        height: 150px;
    }



    .all-button {
        background-color: #fff;
        padding-left: 20px;

    }

    .all-button a {

        padding: 10px 90px;
    }

    .animation {
        display: none;
    }

    .link-1,
    .link-2 {

        border: 1px solid #E8E8E8;
    }

    footer {
        height: 100%;
        width: 100%;
    }

    hr {
        margin-left: 10%;
    }

    .quick-link {
        display: flex;
        flex-direction: column;
    }

    .social-site {

        margin-left: 170px;
    }

    .social-site i {
        padding: 10px;
    }


    /*-------------------------- Ipad Devises--------------------*/

    @media only screen and (min-width:688px) and (max-width:992px) {

        .banner-paragraph {
            width: 150px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .banner-img img {
            width: 350px;
        }

        .blog-section {
            height: 100%;
        }

        .blogs {

            display: grid;
            grid-template-columns: repeat(2, 1fr);

        }

        .blog-side {
            grid-column: 1/span 2;

        }

        .all-button {
            height: 50px;
            width: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            flex-direction: row;
            padding: 10px;
            font-size: 30px;
            background-color: #fff;
            border: none;
            margin-top: -30px;
        }

        .all-button a {
            margin-right: 10px;
            padding: 10px 40px;
        }

        .link-1,
        .link-2,
        .link-3 {
            border: 1px solid #E8E8E8;
            padding: 10px 50px;
        }



        .link-3 {
            color: #fff;
            background-color: crimson;
        }

        .blog {
            width: 300px;
        }

        .blog-banner img {
            width: 100%;
        }

        .animation {
            position: absolute;
            top: 30px;
            right: -290px;

        }

        .hidden-button {
            display: flex;
            position: relative;
            left: 40%;
            border: 1px solid #E8E8E8;
            margin-bottom: 30px;

        }

        footer {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;
        }

        .social-site {

            margin: 30px 0 30px 320px;
        }

        .social-site i {
            padding: 10px;
        }

    }

    /*--------------End of IPad Devices Style---------------*/




    /*------------Mobile Devices Style(match.html)---------------*/


    @media screen and (max-width:688px) {
        #match-section {
            height: 100%;
            width: 100%;
        }

        #match {
            height: 220px;
            width: 300px;
        }

        .match-between img {
            padding-left: 20px;
            width: 100px;
        }

        .all-button {
            background-color: #fff;
        }


        .all-button a {
            margin-right: 30px;
            padding: 10px 20px;
        }

        footer {
            height: 100%;
            width: 100%;
        }
    }

    /*--------IPad Devices Style(match.html)-------------------*/


    @media only screen and (min-width:688px) and (max-width:992px) {
        #match-section {
            height: 100%;
            width: 100%;
        }

        #match img {
            padding-left: 20px;
            width: 100px;
        }

        footer {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;
        }
    }
}